<!DOCTYPE html>
<html lang="de">

    <head>
        <meta charset="utf-8">
        <title> TSL-Dienst Generation 2 </title>

        <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='favicon.ico') }}" rel="shortcut icon">
        <!-- link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous" -->

        <style>
          p { margin-left: 2em; }
          .content { margin-left: 2em; margin-top: 1em; }
  	  .bottom-three { margin-bottom: 3cm; }
  	  .bottom-one { margin-bottom: 1cm; }

          h1 { font-size: 120%; margin-top: 1em; }
          h2 { font-size: 110%; margin-top: 1em; }
          h3 { font-size: 105%; margin-top: 1em; font-style: italic; }
          h4 { font-size: 100%; font-style: italic; }
	  fieldset {
                    margin-top: 1em;
		    margin-left: 2px;
		    margin-right: 2px;
		    padding-top: 0.35em;
		    padding-bottom: 0.625em;
		    padding-left: 0.75em;
		    padding-right: 0.75em;
		    border: 2px groove;
	  }
	  legend {
		  padding:10px;
		  text-align:"right";
                  font-size: 105%;
	  }
          textarea {
                  caret-color: red;
                  width: 50em;
                  height: 15em;
                  border: 1px solid #cccccc;
                  padding: 0.5em;
                  font-family: Tahoma, sans-serif;
          }
  
          textarea:focus {
                  background: #FFC;
          }

        </style>

    </head>

    <body>


    <div class="content">
    {% block content %}
    {% endblock %}
    </div>


    </body>

</html>
