{% extends "main.html" %}

{% block content %}

<h1> TSL-Dienst Generation 2 </h1>

<p> 
Aktuelle <a href="/TSL.xml">TSL.xml</a> (<a href="/TSL.xml.sha256">TSL.xml.sha256</a>) so wie sie dann auf dem Download-Punkt des TSL-Dienstes stehen würde,
analog <a href="/TSL.xml.sig">Detachted-ASN.1-Signatur dafür</a>.
</p>

<p>
<a href="/tksign.zip">Hier</a> gibt es das Signaturtool (inkl. GUI) für die Hashwertbestätigungen.
<a href="/cert_tsl_signer.pem">Hier</a> das aktuell verwendete TSL-Signer-Zertifikat.
</p>

<h2> Hashbestätigung oder neue TSL.xml hochladen </h2>
<ul> 
    <li> Wenn das Quorum n aus m mit n&lt;m ist, dann müssen 2*n Hashwertbestätigungen hochgeladen werden. </li>
    <li> Wenn dann eine zu einem Hashwert passende Datei hochgeladen wird (das System nimmt dann an dies ist die neue TSL.xml), so
        wird diese Datei auf den Downloadpunkt inkl. zuvor erzeugte Detachted-ASN.1-Signatur gelegt.</li>
</ul>

<form action="/tsl" id="data_upload" method="post" enctype="multipart/form-data">
        <fieldset>
		<label> Hashwert-Bestätigung in Json-Datei oder TSL-Datei </label> </br>
                <input name="Datei" type="file" class="file" size="50"> 
		<br/> <br/>
                oder Hashwert-Bestätigung im Json-Format:<br/>
                 <textarea name="HashwertBest" rows="4" cols="72" wrap="off"></textarea>
		<br/> <br/>
                <button type="submit" id="data_upload_form" value="upload"> Hochladen </button>
        </fieldset>
</form>


<h2> Aktivitätslog </h2>

<p> {{ MyDebug }} </p>

<p>(Bitte ggf. <a href="/tsl">Seite neu laden</a>, um Protokollanzeige zu aktualisieren (<a href="/log.txt">log.txt</a>). )</p>

<p> aktuelle Aufträge: </p>
<table>
{% for Eintrag in Auftrag -%}
<tr>
	<td> {{ Eintrag.id }} </td> <td> {{ Eintrag.date }} </td> <td> {{ Eintrag.Auftragstyp }} </td> <td> {{ Eintrag.Auftragsdaten[0:40] }} </td> 
</tr>
{%- endfor %}
</table>

<p> Ergebnisprotokoll: </p>
<table>
{% for Eintrag in Protokoll -%}
<tr>
	<td> {{ Eintrag.id }} </td> <td> {{ Eintrag.date }} </td> 
	<td> {{ Eintrag.Nachricht[0:1000] }} 
	     {% if Eintrag.Nachricht|length > 1000 %}
              ...
             {% endif %}	
	</td> 
</tr>
{%- endfor %}
</table>

<p class="bottom-three">
</p>

<p> Das wars. Der Rest kommt dann beim echten TSL-Dienst nicht mehr. </p>
<hr/>

<h2> Erläuterungen </h2>

<p> Eine Hashwert-Bestätigung wird bspw. erzeugt duch </p>
<pre>
$ ./sign.py -k key_2.pem -H cc7306a5cae523a4dcd813aded8ffa22290fc8b360dbf793be15cb630a44ea1f
{
    "Hashwerttext": "cc7306a5cae523a4dcd813aded8ffa22290fc8b360dbf793be15cb630a44ea1f",
    "Signatur": "3045022001aff2cde14e73d9262fd7893356d1896a8fb2b26d8640e58fdc60f3ac2594a9022100cba21a067fa842242270807850c1b948a02e70307c596e4f8af53b49f518c28a"
}
</pre>
<p> entsteht. Darin enthalten ist ein mit der Signatur bestätigter Hashwert-Text
und die ECDSA-Signatur.</p>

<h3> Workflow </h3>

<ul>
    <li> Die gematik erstellt (fachlich) eine neue TSL, bezeichnet als Pre-TSL.  </li>
    <li> Die gematik ermittelt welcher Hashwert durch eine XMLDSig-Signatur bestätigt werden muss. Dieser ist das erste Ziel.  </li>
</ul>

<ul>
    <li> Mehrere Hashwert-Bestätigungen für das erste Ziel werden hochgeladen
         (das ist jeweils eine S/MIME-Datei, so wie sie auch mit <tt> openssl smime </tt> erzeugt wird). 
    </li>
    <li> Nachdem die Mindestanzahl an Bestätigungen erreicht wurde (n aus m, so wie im
         TSL-Dienst konfiguriert) in denen der selbe Hashwert gestätigt wird, wird
         die Signaturerzeugung durch den TSL-Signer automatisch ausgelöst.
    </li>
    <li> Der TSL-Signer signiert den bestätigte Hashwert.  Dabei weiss der TSL-Dienst nicht überhaupt was XML ist.
    </li>
</ul>


<ul>
<li> Als nächstes betettet die gematik diese erzeugte Signatur innerhalb der
	XMLDSig-Struktur ein und erzeugt somit aus der Pre-TSL die TSL. </li>
<li> Diese wird nochmal durch die gematik geprüft.  </li>
<li> Falls alles ok ist, wird von der TSL (also inkl. XMLDSig+AdES+... ) der
	Hashwert gebildet. Das ist das zweite Ziel.  </li>
</ul>

<ul>
    <li> Wieder werden min. n Hashwert-Bestätigungen durch die gematik erzeugt und hochgeladen.
    </li>
    <li> Nach erreichen der Mindestanzahl signiert der TSL-Dienst diesen
	    Hashwert und stellt die Signatur zur Verfügung und speichert sich
	    auch bei sich ab.

    </li>
</ul>

<ul>
<li> Pro auszustellende TSL müssen also zwei Signaturen durch einen TSL-Signer
	erzeugt werden, d. h. min. 2*n Hashwert-Bestätigungen erzeugt und
	hochgeladen werden.  </li>
<li> Als nächstes wird die geprüfte TSL durch die gematik hochgeladen.  </li>
<li> Der TSL-Dienst errechnet den Hashwert der Datei (Erinnerung: er weiss
	überhaupt nicht was XML überhaupt ist).  </li>
<li> Entspricht der Hashwert mit dem in der zuvor bzw. zuletzt erzeugten durch
	den TSL-Signer erzeugten Signatur, ist alles OK. D. h., der TSL-Dienst
	speichert die neue TSL auf dem Downloadpunkt + plus eine detachted
	S/MIME Signatur des Hashwerts.  Mit der detachted Signatur kann man als
	Client (bspw. Fachdienst) mittels openssl die Signatur einer TSL prüfen
	vor einer Auswertung der eigentlichen XML-Daten.  (Sicherheitsgewinn +
	Erleichterung der Auswertung).  </li>

</ul>


{% endblock %}
